body{
  font-family: Graphik-Regular;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titulo{
  font-family: Graphik-Regular;
  color: #DC143C;
  font-size: 80px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

#container1{
  width: 1000px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

#container2{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

#blocos{
  background-color: white;
  margin-top: 15px;
}

.titulocadastro{
  margin-left: 10px;
  color: #DC143C;
  margin-bottom: 18px;
  font-size: 25px;
}

.label1{
  color: #DC143C;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 0px;
  font-size: 22px;
  display: inline-block;
  width: 250px;
}

.botoes{
  display: inline-block;
  width: auto;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 18px;
  margin-left: 0px;
}

button{
  background-color: #DC143C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 0px;
  cursor: pointer;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
}

body{
  background-color: white;
}
